# Ignore virtual environment directories
.venv/
venv/

# Ignore my privite files
portfolio*.csv
recommendations*.csv
report-results/*.xlsx
*.log

# Except for this file
!tests/portfolio.testunder.csv

# Other common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env
*.egg-info/
dist/
build/
