yfinance
pandas
numpy
requests
openpyxl
pytest
pymongo
fastapi
uvicorn
apscheduler
python-multipart
passlib[bcrypt]
python-jose[cryptography]
httpx
py_vollib_vectorized>=0.1.0
nltk
ics
pydantic-settings
markovify
pykalman
mongomock
argon2-cffi
google-generativeai
python-dotenv
